<!DOCTYPE html>
<html>

<head>
    <title>
        <%= label.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/search.ejs') %>
        <div class="mainContainer">
            <div>
                <div class="coupled">
                    <h1>
                        <%= label.name %>
                    </h1>
                    <a href=<%- label.url + '/update' %>>
                        <div class="editButton"></div>
                    </a>
                    <a href=<%- label.url + '/delete' %>>
                        <div class="deleteButton"></div>
                    </a>
                </div>
                <h2>
                    Founded: <%= label.founded %>
                </h2>
            </div>
            <h2>
                <%= label_albums.length %> Albums
            </h2>
            <div class="listContainer">
                <% label_albums.forEach((album)=> { %>
                    <div>
                        <a href=<%- album.url %>>
                            <img src=<%- album.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : album.image %>
                            alt=""
                            class="imageSmall">
                            <h2>
                                <%= album.title %>
                            </h2>
                        </a>
                        <a href=<%- album.artist.url %>>
                            <p>
                                <%= album.artist.name %>
                            </p>
                        </a>
                        <p>
                            <%= album.release_date_formatted %>
                        </p>
                    </div>
                    <% }) %>
            </div>
            <h2>
                <%= label_formats.length %> Releases
            </h2>
            <div class="listContainer">
                <% label_formats.forEach((format)=> { %>
                    <div>
                        <a href=<%- format.url %>>
                            <img src=<%- format.image===undefined || format.image==='' ? 'https://iili.io/HlHy9Yx.png' :
                                format.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= format.album.title %>
                            </h2>

                            <p>
                                <%= format.format %>
                            </p>
                            <div class="listLower">
                                <p>
                                    $<%= format.price_formatted %>
                                </p>
                                <p>
                                    <%= format.stock %> available
                                </p>
                            </div>
                    </div></a>
                    <% }) %>
            </div>
        </div>
</body>