<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <%- include('./partials/search.ejs') %>
      <div class="mainContainer">
        <h1>
          <%= title %>
        </h1>
        <div class="listContainer">
          <a href="/category/albums">
            <div class="box">
              <h2>
                <%= albums %>
              </h2>
              <p>Total albums</p>
              <div class="coupled boxInfo">
                <p>More Info</p>
                <div class="arrowButton"></div>
              </div>
            </div>
          </a>
          <a href="/category/releases">
            <div class="box">
              <h2>
                <%= formats[0].stock %>
              </h2>
              <p>Items in stock</p>
              <div class="coupled boxInfo">
                <p>More Info</p>
                <div class="arrowButton"></div>
              </div>
            </div>
          </a>
          <a href="/category/releases/low">
            <div class="box">
              <h2>
                <%= formats[0].low_stock %>
              </h2>
              <p>Items low in stock</p>
              <div class="coupled boxInfo">
                <p>More Info</p>
                <div class="arrowButton"></div>
              </div>
            </div>
          </a>
        </div>
        <h1>
          Recent Releases
      </h1>
      <div class="listContainer">
          <% recent_formats.forEach((format)=> { %>
              <div>
                  <a href=<%- format.url %>>
                      <img src=<%- format.image===undefined || format.image==='' ? 'https://iili.io/HlHy9Yx.png' :
                          format.image %>
                      alt="" class="imageSmall">
                      <h2>
                          <%= format.album.title %>
                      </h2>
                  </a>
                  <a href=<%- format.album.artist.url %>>
                      <p>
                          <%= format.album.artist.name %>
                      </p>
                  </a>
                  <a href=<%- format.url %>>
                      <p>
                          <%= format.format %>
                      </p>
                  </a>
                  <a href=<%- format.url %>>
                      <div class="listLower">
                          <p>
                              $<%= format.price_formatted %>
                          </p>
                          <p class=<%- format.stock <= 5 ? 'red' : '' %>>
                              <%= format.stock %> available
                          </p>
                      </div>
                  </a>
              </div>
              <% }) %>
      </div>
      </div>
</body>

</html>