<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <div class="mainContainer">
      <h1>
        <%= title %>
      </h1>
      <div class="box">
        <h2>
          <%= albums %>
        </h2>
        <p>Total albums</p>
      </div>
      <div class="box">
        <h2>
          <%= formats[0].stock %>
        </h2>
        <p>Items in stock</p>
      </div>
      <div class="box">
        <h2>
          <%= formats[0].low_stock %>
        </h2>
        <p>Items low in stock</p>
      </div>
    </div>
</body>

</html>