<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/search.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= title %>
            </h1>
            <div class="listContainer">
                <% artists.forEach((artist)=> { %>
                    <div>
                        <a href=<%- artist.url %>>
                            <img src=<%- artist.image==="" || undefined
                                ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'
                                : artist.image %> alt="" class="imageSmall">
                            <h2>
                                <%= artist.name %>
                            </h2>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>