<!DOCTYPE html>
<html>

<head>
    <title>
        <%= 'Delete ' + artist.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <h1><%= 'Delete ' + artist.name %></h1>
            <% if (artist_albums?.length){ %>
                <h2>Delete the following albums: </h2>
                <div class="listContainer">
                    <% artist_albums.forEach((album)=> { %>
                        <div>
                            <a href=<%- album.url %>>
                                <img src=<%- album.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : album.image
                                    %>
                                alt="" class="imageSmall"></a>
                            <div class="listLower">
                                <div>
                                    <a href=<%- album.url %>>
                                        <h2>
                                            <%= album.title %>
                                        </h2>
                                    </a>
                                    <p>
                                        <%= album.release_date_formatted %>
                                    </p>
                                </div>
                                <a href=<%- album.url + '/delete' %>>
                                    <div class="deleteButton"></div>
                                </a>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <h2>Are you sure you want to delete?</h2>
                        <form method="post">
                            <button type="submit">Delete</button>
                        </form>
                    <% } %> 
                </div>
        </div>
</body>