<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= title %>
            </h1>
            <div class="listContainer">
                <% artists.forEach((artist)=> { %>
                    <div>
                        <a href=<%- artist.url %>>
                            <img src=<%- artist.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : artist.image
                                %> alt="" class="imageSmall">
                            <h2>
                                <%= artist.name %>
                            </h2>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>