<!DOCTYPE html>
<html>

<head>
    <title>
        <%= artist.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <div class="flex">
                <img src=<%- artist.image===undefined || artist.image===''
                    ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' :
                    artist.image %> alt="" class="image">
                <div>
                    <div class="coupled">
                        <h1>
                            <%= artist.name %>
                        </h1>
                        <a href=<%- artist.url + '/update' %>>
                            <div class="editButton"></div>
                        </a>
                        <a href=<%- artist.url + '/delete' %>>
                            <div class="deleteButton"></div>
                        </a>
                    </div>
                    <h2>
                        <%= artist.lifespan %>
                    </h2>
                    <h2>
                        <%= artist.country===undefined ? 'Country: Unknown' : 'Country: ' + artist.country %>
                    </h2>
                </div>
            </div>
            <h2>Releases</h2>
            <div class="listContainer">
                <% artist_albums.forEach((album)=> { %>
                    <div>
                        <a href=<%- album.url %>>
                            <img src=<%- album.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : album.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= album.title %>
                            </h2>
                        </a>
                        <p>
                            <%= album.release_date_formatted %>
                        </p>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>