<!DOCTYPE html>
<html>

<head>
    <title>
        <%= genre.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/search.ejs') %>
        <div class="mainContainer">
            <div class="coupled">
                <h1>
                    <%= genre.name %>
                </h1>
                <a href=<%- genre.url + '/update' %>>
                    <div class="editButton"></div>
                </a>
                <a href=<%- genre.url + '/delete' %>>
                    <div class="deleteButton"></div>
                </a>
            </div>
            <h2>
                <%= albums.length %>
                    <%= genre.name %> Albums
            </h2>
            <div class="listContainer">
                <% albums.forEach((album)=> { %>
                    <div>
                        <a href=<%- album.url %>>
                            <img src=<%- album.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : album.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= album.title %>
                            </h2>
                        </a>
                        <a href=<%- album.artist.url %>>
                            <p>
                                <%= album.artist.name %>
                            </p>
                        </a>
                    </div>
                    <% }) %>
            </div>
            <h2><%= genre_formats.length %> Releases</h2>
            <div class="listContainer">
                <% genre_formats.forEach((format)=> { %>
                    <div>
                        <a href=<%- format.url %>>
                            <img src=<%- format.image===undefined || format.image === '' ? 'https://iili.io/HlHy9Yx.png' : format.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= format.album.title %>
                            </h2>
                        
                        <p> <%= format.format %> </p>
                        <div class="listLower">
                            <p>
                                $<%= format.price_formatted %>
                            </p>
                            <p>
                                <%= format.stock %> available
                            </p>
                        </div>
                    </div></a>
                    <% }) %>
            </div>
        </div>
</body>