<!DOCTYPE html>
<html>

<head>
    <title>
        <%= genre.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <div class="coupled">
                <h1>
                    <%= genre.name %>
                </h1>
                <a href=<%- genre.url + '/update' %>>
                    <div class="editButton"></div>
                </a>
                <a href=<%- genre.url + '/delete' %>>
                    <div class="deleteButton"></div>
                </a>
            </div>
            <h2>
                <%= albums.length %>
                    <%= genre.name %> Albums
            </h2>
            <div class="listContainer">
                <% albums.forEach((album)=> { %>
                    <div>
                        <a href=<%- album.url %>>
                            <img src=<%- album.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : album.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= album.title %>
                            </h2>
                            <p>
                                <%= album.artist.name %>
                            </p>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>