<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/search.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= title %>
            </h1>
            <div class="listContainer">
                <% formats.forEach((format)=> { %>
                    <div>
                        <a href=<%- format.url %>>
                            <img src=<%- format.image===undefined || format.image==='' ? 'https://iili.io/HlHy9Yx.png' :
                                format.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= format.album.title %>
                            </h2>
                        </a>
                        <a href=<%- format.album.artist.url %>>
                            <p>
                                <%= format.album.artist.name %>
                            </p>
                        </a>
                        <a href=<%- format.url %>>
                            <p>
                                <%= format.format %>
                            </p>
                        </a>
                        <a href=<%- format.url %>>
                            <div class="listLower">
                                <p>
                                    $<%= format.price_formatted %>
                                </p>
                                <p>
                                    <%= format.stock %> available
                                </p>
                            </div>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>