<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/search.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= title %>
            </h1>
            <form method="post">
                <div class="coupled">
                <label for="'album">Album:
                    <select for="album" id="album" name="album">
                        <option value="">Select an album</option>
                        <% albums.forEach((album) => { %>
                            <% if( format?.album !== undefined && (album._id.toString() === format.album._id.toString())) { %>
                                <option selected value=<%= album._id %>> <%= album.title + " - " + album.artist.name %> </option> 
                            <% } else { %>
                                <option value=<%= album._id %>> <%= album.title + " - " + album.artist.name %> </option>
                             <% } %> 
                        <% }) %>
                    </select>
                </label>
                <label for="format">Format:
                    <select for="format" id="format" name="format">
                        <option value="">Select a format</option>
                        <% ['CD', 'Vinyl', 'Cassette', 'Digital'].forEach((item) => { %>
                            <% if( format?.format !== undefined && (format.format==item)) { %>
                                <option selected value=<%= item %>> <%= item %></option> 
                            <% } else { %>
                                <option value=<%= item %>> <%= item %></option>
                             <% } %> 
                        <% }) %>
                    </select>
                </label>
            </div>
            <div class="coupled">
                <label for="price">Price:
                    <input type="number" name="price" id="price" value='<%-undefined===format ? '' : format.price %>'>
                </label>
                <label for="stock">Stock:
                    <input type="number" name="stock" id="stock" value='<%-undefined===format ? '' : format.stock %>'>
                </label>
            </div>
                <label for="barcode">Barcode:
                    <input type="text" name="barcode" id="barcode" value='<%-undefined===format ? '' : format.barcode %>'>
                </label>
                <label for="image">Image URL:
                    <input type="text" name="image" id="image" value='<%= undefined===format ? '' : format.image %>'>
                </label>
                <button type="submit">Submit</button>
            </form>
            <% if(errors){ %>
                <% errors?.forEach((error) => { %>
                    <h3> <%= error.msg %> </h3>
                <% }) %>
              <% } %>
        </div>
</body>