<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= title %>
            </h1>
            <div class="listContainer">
                <% formats.forEach((format)=> { %>
                    <div>
                        <a href=<%- format.url %>>
                            <img src=<%- format.album.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' :
                                format.album.image %>
                            alt=""
                            class="imageSmall">
                            <h2>
                                <%= format.album.title %>
                            </h2>
                        </a>
                        <a href=<%- format.album.artist.url %>>
                            <p>
                                <%= format.album.artist.name %>
                            </p>
                        </a>
                        <p>
                            <%= format.album.release_date_formatted %>
                        </p>
                        <a href=<%- format.url %>>
                            <p>
                                <%= format.format %>
                            </p>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>