<!DOCTYPE html>
<html>

<head>
    <title>
        <%= 'Delete ' + format.album.title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/search.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= 'Delete ' + format.album.title + ' ' + format.format %>
            </h1>
            <div class="listContainer">
                <form method="post" class="inputForm">
                    <label for="password">Enter password to delete:</label>
                    <input type="password" name="password" id="password">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <% if(error){ %>
                <h3>
                    <%= error %>
                </h3>
                <% } %>
        </div>
</body>