<!DOCTYPE html>
<html>

<head>
    <title>
        <%= 'Delete ' + album.title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <h1><%= 'Delete ' + album.title %></h1>
            <% if (album_formats?.length){ %>
                <h2>Delete the following releases: </h2>
                <div class="listContainer">
                    <% album_formats.forEach((format)=> { %>
                        <div>
                            <a href=<%- format.url %>>
                                <img src=<%- format.image==="" || undefined ? 'https://iili.io/HlHy9Yx.png' : format.image
                                    %>
                                alt="" class="imageSmall"></a>
                            <div class="listLower">
                                <div>
                                    <a href=<%- album.url %>>
                                        <h2>
                                            <%= album.title %>
                                        </h2>
                                    </a>
                                    <p>
                                        <%= album.release_date_formatted %>
                                    </p>
                                </div>
                                <a href=<%- format.url + '/delete' %>>
                                    <div class="deleteButton"></div>
                                </a>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <form method="post">
                            <label for="password">Enter password to delete:</label>
                            <input type="password" name="password" id="password">
                            <button type="submit">Delete</button>
                        </form>
                        <% if(error){ %>
                            <h3>
                                <%= error %>
                            </h3>
                            <% } %>
                    <% } %> 
                </div>
        </div>
</body>