<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= title %>
            </h1>
            <% albums.forEach((album) => { %>
                <a href=<%- album.url %>>
                    <h2> 
                        <%= album.title %>
                    </h2>
                </a>
            <% }) %>
        </div>
</body>