<!DOCTYPE html>
<html>

<head>
    <title>
        <%= album.artist.name %> - <%= album.title %> (<%= album.release_date_formatted %>)
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <div class="flex">
                <img src=<%- album.image==="" || undefined
                    ? 'https://iili.io/HlHy9Yx.png' :
                    album.image %> alt="" class="image">
                <div>
                    <div class="coupled">
                        <h1>
                            <a href=<%- album.artist.url %>><%= album.artist.name %></a>
                            - <%= album.title %>
                        </h1>
                        <a href=<%- album.url + '/update' %>>
                            <div class="editButton"></div>
                        </a>
                        <a href=<%- album.url + '/delete' %>>
                            <div class="deleteButton"></div>
                        </a>
                    </div>
                    <h2>
                        Label:
                        <a href=<%- album.label.url %>><%= album.label.name %></a>
                    </h2>
                    <h2>
                        Released: <%= album.release_date_formatted %>
                    </h2>
                    <h2>
                        Genre:
                        <a href=<%- album.genre.url %>><%= album.genre.name %></a>
                    </h2>
                </div>
            </div>
            <h2><%= album_formats.length %> Formats</h2>
            <div class="listContainer">
                <% album_formats.forEach((format)=> { %>
                    <div>
                        <a href=<%- format.url %>>
                            <img src=<%- format.image===undefined || format.image === '' ? 'https://iili.io/HlHy9Yx.png' : format.image %>
                            alt="" class="imageSmall">
                            <h2>
                                <%= album.title %>
                            </h2>
                        
                        <p> <%= format.format %> </p>
                        <div class="listLower">
                            <p>
                                $<%= format.price_formatted %>
                            </p>
                            <p>
                                <%= format.stock %> available
                            </p>
                        </div>
                    </div></a>
                    <% }) %>
            </div>
        </div>
</body>