<!DOCTYPE html>
<html>

<head>
    <title>
        <%= album.title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="mainContainer">
            <div class="flex">
                <img src=<%- album.image==="" || undefined
                    ? 'https://iili.io/HlHy9Yx.png' :
                    album.image %> alt="" class="image">
                <div>
                    <div class="coupled">
                        <h1>
                            <a href=<%- album.artist.url %>><%= album.artist.name %></a>
                            - <%= album.title %>
                        </h1>
                        <a href=<%- album.url + '/update' %>>
                            <div class="editButton"></div>
                        </a>
                        <a href=<%- album.url + '/delete' %>>
                            <div class="deleteButton"></div>
                        </a>
                    </div>
                    <h2>
                        Label:
                        <a href=<%- album.label.url %>><%= album.label.name %></a>
                    </h2>
                    <h2>
                        Released: <%= album.release_date_formatted %>
                    </h2>
                    <h2>
                        Genre:
                        <a href=<%- album.genre.url %>><%= album.genre.name %></a>
                    </h2>
                </div>
            </div>
        </div>
</body>